// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/



/**
*Barcodescanning
*-----------------------
*/
body.barcode-scaning-active{
    visibility: hidden;
    --background: transparent;
    --ion-background-color:transparent;
}
.barcode-scanning-modal{
    visibility: visible;

}